DROP INDEX IF EXISTS social.idx_posts_comments_sorted;
DROP INDEX IF EXISTS social.idx_posts_likes_sorted;
DROP INDEX IF EXISTS social.idx_posts_search;
ALTER TABLE social.posts DROP COLUMN IF EXISTS search_vector;
