ALTER TABLE social.posts ADD COLUMN search_vector tsvector GENERATED ALWAYS AS (to_tsvector('english', coalesce(content, ''))) STORED;
CREATE INDEX idx_posts_search ON social.posts USING GIN (search_vector);
CREATE INDEX idx_posts_likes_sorted ON social.posts (like_count DESC, created_at DESC);
CREATE INDEX idx_posts_comments_sorted ON social.posts (comment_count DESC, created_at DESC);
