CREATE TYPE social.notification_type AS ENUM ('like', 'comment', 'match', 'system');
CREATE TABLE social.notifications (
    id              UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id         UUID NOT NULL REFERENCES social.users(id) ON DELETE CASCADE,
    actor_id        UUID REFERENCES social.users(id) ON DELETE SET NULL,
    type            social.notification_type NOT NULL,
    entity_id       UUID,
    is_read         BOOLEAN NOT NULL DEFAULT FALSE,
    created_at      TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
CREATE INDEX idx_notifications_user_id ON social.notifications (user_id, created_at DESC);
